.header
  %h1 All users

.users
  - show_users(@users, by: 3).each do |users| # for grid listing
    .row-fluid.show-grid
      - users.each do |user|
        .user.span4
          .avatar.fl_l
            = link_to user_path(user) do
              = image_tag avatar(user), class: 'user_avatar'

          .info.fl_l.clear
            %b Name:
            = link_to user_path(user) do
              = user.name

            %br/

            %b Joined:
            = (Time.now.to_i - user.created_at.to_i) / 1.day
            days ago
