= form_for [@board, @topic, @post] do |f|
  - if @post.errors.any?
    .alert.alert-error.alert-block
      %button.close{'data-dismiss' => 'alert', type: 'button'} ×
      %h4= "#{pluralize(@post.errors.count, "error")} prohibited this topic from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :text
    = f.text_field :text
  .field
    = f.label :reply_to
    = f.text_field :reply_to
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
