%h1 Listing posts

%table
  %tr
    %th Text
    %th Reply to
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= post.text
      %td= post.reply_to
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Post', new_post_path
